@import "tailwindcss";
@import "./ui-components/theme.css";
@import "./ui-components/utilities/layout.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

}
